@import "reset";
@import "variables";
@import "mixin";
@import "fonts";


body{
	background-color: grey;
	width: 100vw;
	height: 100vh;
}


header{
padding: 20px;
text-align: center;
h1{
	color: yellow;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 12px;
}
}

.about{
	text-align: center;
	padding: 20px;
	p{color: green;}
	span.active{ color: red;}
	span.css {color: blue;}
}


footer{
	text-align: center;

}